[Unit]
Description=Device Scanner Services

Requires=device-scanner.socket
After=device-scanner.socket
Requires=block-device-populator.service
Requires=zed-populator.service
Requires=swap-emitter.timer
Requires=mount-emitter.service
Wants=scanner-proxy.path

[Install]
WantedBy=multi-user.target
Also=device-scanner.socket
Also=block-device-populator.service
Also=zed-populator.service
Also=swap-emitter.timer
Also=mount-emitter.service
Also=scanner-proxy.path