sudo: required
language: generic
services:
  - docker
addons:
  apt:
    update: true
jobs:
  include:
    - stage: test
      env: Type='build'
      script:
        - docker run -dit --privileged --name libzfs-dotnet -v $(pwd):/device-scanner:rw -v /sys/fs/cgroup:/sys/fs/cgroup:ro intelhpdd/libzfs-dotnet
        - docker exec -it libzfs-dotnet bash -c 'cd /device-scanner/ && npm i && npm run restore && dotnet fable npm-build'
    - stage: test
      language: node_js
      node_js:
        - 10
      env: Type='unit test'
      before_install:
        - npm i -g npm@latest codecov
      install: true
      script:
        - docker run -dit --privileged --name libzfs-dotnet -v $(pwd):/device-scanner:rw -v /sys/fs/cgroup:/sys/fs/cgroup:ro intelhpdd/libzfs-dotnet
        - docker exec -it libzfs-dotnet bash -c 'cd /device-scanner/ && npm i --ignore-scripts && npm run restore && dotnet fable npm-coverage -- --ci'
        - codecov
    - stage: cd
      if: branch !~ ^v\d+\.\d+\.\d+-.+$ AND type NOT IN (push, pull_request)
      env: 'Continuous Deployment'
      script:
        - openssl aes-256-cbc -K $encrypted_253525cedcf6_key -iv $encrypted_253525cedcf6_iv -in copr-mfl.enc -out copr-key -d
        - curl -O https://raw.githubusercontent.com/m3t/travis_wait/master/travis_wait
        - chmod 755 travis_wait
        - ./travis_wait "docker run -dit --name copr -v $(pwd):/builddir imlteam/dotnet-docker bash -c 'yum install -y rpmdevtools copr-cli git && cd /builddir && fake run build.fsx --release=$(git rev-list HEAD | wc -l)'"
    - stage: deploy
      if: branch =~ ^v\d+\.\d+\.\d+$
      script:
        - docker run -dit --privileged --name libzfs-dotnet -v $(pwd):/device-scanner:rw -v /sys/fs/cgroup:/sys/fs/cgroup:ro intelhpdd/libzfs-dotnet
        - docker exec -i libzfs-dotnet bash -c 'cd /device-scanner/ && npm i && npm run restore && dotnet fable npm-build'
        - docker exec -i libzfs-dotnet bash -c "echo '//registry.npmjs.org/:_authToken=$NPM_TOKEN' > ~/.npmrc"
        - docker exec -i libzfs-dotnet bash -c "cd /device-scanner && npm pub"
    - stage: deploy
      if: branch =~ ^v\d+\.\d+\.\d+-.+$
      env: Type='Copr deploy'
      before_deploy:
        - openssl aes-256-cbc -K $encrypted_253525cedcf6_key -iv $encrypted_253525cedcf6_iv -in copr-mfl.enc -out copr-key -d
        - curl -O https://raw.githubusercontent.com/m3t/travis_wait/master/travis_wait
        - chmod 755 travis_wait
      deploy:
        skip_cleanup: true
        provider: script
        script: ./travis_wait "docker run -dit --name copr -v $(pwd):/builddir imlteam/dotnet-docker bash -c 'yum install -y rpmdevtools copr-cli && cd /builddir && fake run build.fsx'"
        on:
          all_branches: true
