language: rust
cache: cargo

jobs:
  include:
    - stage: test
      name: "Unit Tests"
      rust: beta
      script:
        - cargo test --exclude zed-enhancer --all
    - stage: test
      name: "Rustfmt"
      rust: beta
      before_script:
        - rustup component add rustfmt
      script:
        - cargo fmt --all -- --check
    - stage: test
      name: "copr build test"
      language: generic
      script:
        - export SPEC=iml-device-scanner.spec
        - docker run -it -e SPEC="$SPEC" -e LOCAL_ONLY="True" -v $(pwd):/build:rw imlteam/copr-zfs
        - ((`find _topdir/RPMS -name *.rpm | wc -l` > 0))
    - stage: test
      name: "Linting Check"
      language: generic
      script:
        - docker run -d -it --name libzfs -v $(pwd):/device-scanner:rw imlteam/copr-zfs
        - docker exec -i libzfs bash -c 'yum install -y openssl-devel'
        - docker exec -i libzfs bash -c 'cd /device-scanner && cargo clippy --all-targets --all-features -- -D warnings'
    - stage: cd
      name: "Continuous Deployment"
      language: generic
      script:
        - export OWNER=managerforlustre
        - export PROJECT=manager-for-lustre-devel
        - export PACKAGE=iml-device-scanner
        - export SPEC=iml-device-scanner.spec
        - docker run -it -e OWNER="$OWNER" -e PROJECT="$PROJECT" -e PACKAGE="$PACKAGE" -e SPEC="$SPEC" -e KEY="$encrypted_253525cedcf6_key" -e IV="$encrypted_253525cedcf6_iv" -v $(pwd):/build:rw imlteam/copr-zfs
    - stage: deploy-copr-r5.1
      name: "Copr 5.1 deploy"
      script:
        - export OWNER=managerforlustre
        - export PROJECT=manager-for-lustre-5.1
        - export PACKAGE=iml-device-scanner
        - export SPEC=iml-device-scanner.spec
        - docker run -it -e PROD="true" -e OWNER="$OWNER" -e PROJECT="$PROJECT" -e PACKAGE="$PACKAGE" -e SPEC="$SPEC" -e KEY="$encrypted_253525cedcf6_key" -e IV="$encrypted_253525cedcf6_iv" -v $(pwd):/build:rw imlteam/copr-zfs
stages:
  - test
  - name: cd
    if: branch = master AND type = push AND fork = false
  - name: deploy-copr-r5.1
    if: branch =~ ^v\d+\.\d+\.\d+-.+-r5\.1$
