[Unit]
Description=IML ZED Enhancer Daemon
RefuseManualStart=true
Requires=zed-enhancer.socket
BindsTo=zed-enhancer.socket
After=zed-enhancer.socket
OnFailure=zed-populator.service
StopWhenUnneeded=true

[Service]
Restart=on-failure
ExecStart=/usr/bin/zed-enhancer
StandardOutput=journal
StandardError=journal