[Unit]
Description=IML ZED Enhancer Socket
DefaultDependencies=false
Requires=zfs-zed.service
After=zfs-zed.service
After=device-scanner.socket
After=zed-populator.service
PartOf=device-scanner.target
StopWhenUnneeded=true

[Socket]
ListenStream=/var/run/zed-enhancer.sock
RemoveOnStop=true

[Install]
WantedBy=device-scanner.target