[Unit]
Description=IML Device Aggregator Daemon
PartOf=iml-manager.target
After=network.service
After=iml-settings-populator.service
Requires=iml-settings-populator.service

[Service]
Restart=always
Environment=RUST_LOG=info
ExecStart=/usr/bin/device-aggregator
EnvironmentFile=/var/lib/chroma/iml-settings.conf
StandardOutput=journal
StandardError=journal
