[Unit]
Description=IML Device Aggregator Daemon
PartOf=iml-manager.target

[Service]
Restart=always
ExecStart=/usr/bin/device-aggregator
Environment=DEVICE_AGGREGATOR_PORT=8008
StandardOutput=journal
StandardError=journal
