[Unit]
Description=IML Scanner Proxy Daemon
RefuseManualStart=true
Requires=device-scanner.socket
After=network.target
PartOf=scanner-proxy.path
After=scanner-proxy.path

[Service]
Restart=always
EnvironmentFile=/etc/iml/manager-url.conf
Environment=PRIVATE_PEM_PATH=/etc/iml/private.pem
Environment=CRT_PATH=/etc/iml/self.crt
Environment=PFX_PATH=/etc/iml/identity.pfx
Environment=AUTHORITY_CRT_PATH=/etc/iml/authority.crt
ExecStart=/usr/bin/device-scanner-proxy
StandardOutput=journal
StandardError=journal
